html, body{
	font-family: Raleway, sans-serif;
	padding: 0;
	margin: 0;
	text-align: 20px;
	background-color: #f2e4d7;
	display: inline-block;

}

header{
	background-color: #cec1b5;
	padding: 40px;
	text-align: center;
}

header h1{
	font-size: 90px;
	color: black;
	text-shadow: 0 4px 20px black;
	background-color: #cec1b5;
}

h2{
	background-color: #cec1b5;
	border-radius: 20px;
	padding-left: 20px;

}

header img{
	border-radius: 159px;
	border: 8px solid #25434f;
		box-shadow: 0 4px 20px black;



}

.content{
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 20px;

}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: white;
	font-style: italic;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: black;
	text-decoration: none;
}

footer a{
	color: white;
}

footer{
	margin-top: 20px;
padding: 40px 20px;
background-color: #2e3030

}

footer ul{
	text-align: center;
	color: white;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;

}
/*<header>
	<img src="http://akns-images.eonline.com/eol_images/Entire_Site/2017411/rs_600x600-170511072804-600.johnny-depp.51117.jpg?downsize=300:*&crop=300:300;left,top">
	<h1>Johnny Depp</h1>
</header>*/
